@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

.contact {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    background-image: url("assets/contact_us.png");
    background-size: cover;  /* Ensures the image fully covers the screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed; /* Keeps the image fixed while scrolling */

}

.card {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.text-center {
    text-align: center;
}
nav {
    background-color: #019A4A;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    padding: 0 15px;
}

nav img {
    height: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    color:white;
}

.flex-container {
    display: flex;
    margin: 5% 20%;
    gap: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1 {
    color: #019A4A;
    margin: 0;
}
button {
    background-color: #019A4A;
    border: none;
    padding: 20px;
    font-family:'Barlow', sans-serif;
    font-size: 22px;
    color: white;
}